<section id="about-us" class="about-us section">
  <div class="container">
    <div class="about-us--top">
      <h2 class="section-title">
        About <span class="section-title-decor">Us</span>
      </h2>
      <p class="section-description">
        We are dedicated to providing engaging and effective English language
        courses in a supportive and stimulating learning environment
      </p>
    </div>
    <div class="about-us--bottom">
      <ol class="about-us--cards">
        <li class="about-us--card">
          <p class="about-us--card-text">Expert, innovative teaching staff</p>
        </li>
        <li class="about-us--card">
          <p class="about-us--card-text">
            Wide range of course levels and options
          </p>
        </li>
        <li class="about-us--card">
          <p class="about-us--card-text">Multicultural learning environment</p>
        </li>
        <li class="about-us--card">
          <p class="about-us--card-text">
            Comprehensive language support services
          </p>
        </li>
      </ol>
      <div class="about-us--image">
        <img
          src="./img/memoji/memoji@2x.png"
          width="254"
          height="211"
          alt="about us"
        />
      </div>
    </div>
  </div>
</section>
