<footer class="footer" id="footer">
  <div class="container footer-container">
    <div class="footer-first-level">
      <div class="footer-contacts-wrapper">
        <a class="link logo logo-footer" href=""
          >english<span class="logo-green">excellence.</span></a
        >
        <address class="footer-contacts">
          <ul class="list footer-contacts-list">
            <li class="footer-contacts-item">
              <p class="footer-contacts-title">Phone number:</p>
              <a class="link footer-contacts-link" href="tel:+3806844394261"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="footer-contacts-item">
              <p class="footer-contacts-title">Address:</p>
              <a
                class="link footer-contacts-link"
                href="https://goo.gl/maps/vyJLEi7oiHiVRdZt7"
                target="_blank"
                >32a M. Bazhana ave</a
              >
            </li>
          </ul>
        </address>
      </div>

      <div class="footer-links-wrapper">
        <ul class="footer-links-list">
          <li class="footer-links-item">
            <a class="link footer-links-link" href="#about-us">About us</a>
          </li>
          <li class="footer-links-item">
            <a class="link footer-links-link" href="#lessons">Our lessons</a>
          </li>
          <li class="footer-links-item">
            <a class="link footer-links-link" href="#teachers">Teachers</a>
          </li>
          <li class="footer-links-item">
            <a class="link footer-links-link" href="#reviews">Reviews</a>
          </li>
          <li class="footer-links-item">
            <a class="link footer-links-link" href="#footer">Contact us</a>
          </li>
        </ul>
      </div>

      <div class="footer-social-wrapper">
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a
              class="footer-social-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
            >
              <svg class="footer-social-icon" width="28" height="28">
                <use href="./img/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li class="footer-social-item">
            <a
              class="footer-social-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
            >
              <svg class="footer-social-icon" width="28" height="28">
                <use href="./img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>

          <li class="footer-social-item">
            <a
              class="footer-social-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
            >
              <svg class="footer-social-icon" width="28" height="28">
                <use href="./img/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-second-level">
      <div class="footer-license">
        <p class="footer-license-text">
          &copy;2023 English Excellence. All rights reserved.
        </p>
      </div>
      <div class="terms-and-conditions-wrapper">
        <ul class="terms-and-conditions-list">
          <li class="terms-and-conditions-item">
            <a class="link terms-and-conditions-link" href="">Privacy Policy</a>
          </li>
          <li class="terms-and-conditions-item">
            <a class="link terms-and-conditions-link" href=""
              >Terms of Service</a
            >
          </li>
          <li class="terms-and-conditions-item">
            <a class="link terms-and-conditions-link data-modal-open">
              Team of Developers
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
