<header class="header" id="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="#header" class="header-logo link"
        >english<span class="header-logo-accent">excellence</span>.
      </a>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#about-us" class="header-nav-link link">About us</a>
        </li>
        <li class="header-nav-item">
          <a href="#lessons" class="header-nav-link link">Our lessons</a>
        </li>
        <li class="header-nav-item">
          <a href="#teachers" class="header-nav-link link">Teachers</a>
        </li>
        <li class="header-nav-item">
          <a href="#reviews" class="header-nav-link link">Reviews</a>
        </li>
        <li class="header-nav-item">
          <a href="#footer" class="header-nav-link link">Contact us</a>
        </li>
      </ul>
    </nav>
    <button
      class="header-burger-btn js-open-menu"
      type="button"
      aria-expanded="false"
    >
      <!-- aria-controls="header" -->

      <svg
        class="header-burger-icon"
        aria-label="burger icon"
        width="32"
        height="32"
      >
        <use href="./img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
    <div class="header-social-container">
      <ul class="header-social-list">
        <li class="header-social-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="header-social-link"
            target="_blank"
            aria-label="facebook icon"
            ><svg class="header-social-icon" width="28" height="28">
              <use href="./img/sprite.svg#icon-facebook"></use></svg
          ></a>
        </li>
        <li class="header-social-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="header-social-link"
            target="_blank"
            aria-label="instagram icon"
            ><svg class="header-social-icon" width="28" height="28">
              <use href="./img/sprite.svg#icon-instagram"></use></svg
          ></a>
        </li>
        <li class="header-social-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="header-social-link"
            target="_blank"
            aria-label="youtube icon"
            ><svg class="header-social-icon" width="28" height="28">
              <use href="./img/sprite.svg#icon-youtube"></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</header>

<!-- <script src="../modal.js"></script>

<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
></script>
<script defer src="../js/mobile-menu.js"></script> -->
