<header class="page-header" id="header">
  <div class="container page-header-container">
    <nav class="page-header-nav">
      <a href="#header" class="peage-header-logo link"
        >english<span class="peage-header-logo-accent">excellence</span>.
      </a>
      <ul class="page-header-nav-menu-list">
        <li class="page-header-nav-menu-item">
          <a href="#about-us" class="page-header-nav-menu-link link"
            >About us</a
          >
        </li>
        <li class="page-header-nav-menu-item">
          <a href="#lessons" class="page-header-nav-menu-link link"
            >Our lessons</a
          >
        </li>
        <li class="page-header-nav-menu-item">
          <a href="#teachers" class="page-header-nav-menu-link link"
            >Teachers</a
          >
        </li>
        <li class="page-header-nav-menu-item">
          <a href="#reviews" class="page-header-nav-menu-link link">Reviews</a>
        </li>
        <li class="page-header-nav-menu-item">
          <a href="#contact-us" class="page-header-nav-menu-link link"
            >Contact us</a
          >
        </li>
      </ul>
    </nav>
    <button
      class="page-header-mobile-menu-open-btn js-open-menu"
      type="button"
      aria-expanded="false"
    >
      <!-- aria-controls="page-header" -->

      <svg
        class="page-header-mobile-menu-open-btn-icon"
        aria-label="burger icon"
        width="32"
        height="32"
      >
        <use href="../img/header-symbol-defs.svg#icon-burger"></use>
      </svg>
    </button>
    <div class="page-heder-social-media-container">
      <ul class="page-header-social-media-list">
        <li class="page-header-social-media-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="page-header-social-media-icon-wrapper"
            target="_blank"
            aria-label="facebook icon"
            ><svg class="page-header-social-media-icon" width="28" height="28">
              <use
                href="../img/header-symbol-defs.svg#icon-facebook"
              ></use></svg
          ></a>
        </li>
        <li class="page-header-social-media-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="page-header-social-media-icon-wrapper"
            target="_blank"
            aria-label="instagram icon"
            ><svg class="page-header-social-media-icon" width="28" height="28">
              <use
                href="../img/header-symbol-defs.svg#icon-instagram"
              ></use></svg
          ></a>
        </li>
        <li class="page-header-social-media-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="page-header-social-media-icon-wrapper"
            target="_blank"
            aria-label="youtube icon"
            ><svg class="page-header-social-media-icon" width="28" height="28">
              <use href="../img/header-symbol-defs.svg#icon-youtube"></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</header>

<!-- MOBILE AND TABLET MENU -->

<div class="backdrop js-menu-container">
  <div class="page-header-mobile-menu">
    <div class="page-header-mobile-menu-container container">
      <button
        class="page-header-mobile-menu-close-btn js-close-menu"
        type="button"
      >
        <svg
          class="page-header-mobile-menu-close-btn-icon"
          width="32"
          height="32"
          aria-label="mobile menu close icon"
        >
          <use href="../img/header-symbol-defs.svg#icon-close-button"></use>
        </svg>
      </button>
      <nav class="page-header-mobile-menu-nav">
        <ul class="page-header-mobile-menu-nav-list">
          <li class="page-header-mobile-menu-nav-list-item">
            <a
              href="#about-us"
              class="page-header-mobile-menu-nav-list-link link"
              >About us</a
            >
          </li>
          <li class="page-header-mobile-menu-nav-list-item">
            <a
              href="#lessons"
              class="page-header-mobile-menu-nav-list-link link"
              >Our lessons</a
            >
          </li>
          <li class="page-header-mobile-menu-nav-list-item">
            <a
              href="#teachers"
              class="page-header-mobile-menu-nav-list-link link"
              >Teachers</a
            >
          </li>
          <li class="page-header-mobile-menu-nav-list-item">
            <a
              href="#reviews"
              class="page-header-mobile-menu-nav-list-link link"
              >Reviews</a
            >
          </li>
          <li class="page-header-mobile-menu-nav-list-item">
            <a
              href="#contact-us"
              class="page-header-mobile-menu-nav-list-link link"
              >Contact us</a
            >
          </li>
        </ul>
      </nav>
      <!-- <div class="page-heder-mobile-menu-social-media-container"> -->
      <ul class="page-heder-mobile-menu-social-media-list">
        <li class="page-heder-mobile-menu-social-media-list-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="page-header-mobile-menu-social-media-icon-wrapper"
            target="_blank"
            aria-label="facebook icon"
          >
            <svg
              class="page-header-mobile-menu-social-media-icon"
              width="26"
              height="26"
            >
              <use href="../img/header-symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="page-heder-mobile-menu-social-media-list-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="page-header-mobile-menu-social-media-icon-wrapper"
            target="_blank"
            aria-label="instagram icon"
          >
            <svg
              class="page-header-mobile-menu-social-media-icon"
              width="26"
              height="26"
            >
              <use href="../img/header-symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="page-heder-mobile-menu-social-media-list-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="page-header-mobile-menu-social-media-icon-wrapper"
            target="_blank"
            aria-label="youtube icon"
          >
            <svg
              class="page-header-mobile-menu-social-media-icon"
              width="26"
              height="26"
            >
              <use href="../img/header-symbol-defs.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <!-- </div> -->
    </div>
  </div>
</div>
<!-- <script src="../modal.js"></script>

<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
></script>
<script defer src="../js/mobile-menu.js"></script> -->
