<section class="hero section">
  <div class="hero__bg">
    <div class="container hero__container">
      <h1 class="hero__title">
        Discover the joy of learning
        <span class="title__accent">English</span> with us!
      </h1>
      <a href="#" class="hero__btn link"> Leave an application </a>
      <a href="#" class="hero__scroll-down-btn">
        <svg class="hero__scroll-down-icon" width="20" height="20">
          <use href="../img/hero/hero-icons.svg#icon-scroll-down"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
