<section class="hero section">
  <div class="hero-bg">
    <div class="hero-container">
      <h1 class="hero-title">
        Discover the joy of learning
        <span class="title-accent">English</span> with us!
      </h1>
      <a href="#application" class="hero-btn link"> Leave an application </a>
      <a href="#footer" class="hero-scroll-down-btn link">
        <svg class="hero-scroll-down-icon" width="20" height="20">
          <use href="./img/hero-icons.svg#icon-scroll-down"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
