<section class="section" id="application">
  <div class="container application-section">
    <div class="application-title">
      <h2 class="section-title">
        Leave an <span class="section-title-decor">application</span>
      </h2>
      <p class="section-description">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
    </div>
    <div class="application-content">
      <div class="application-decor">
        <img
          class="app-img"
          srcset="./img/application/application_img@2x.png 2x"
          src="./img/application/application_img.png"
          alt="Girls with book and computer"
          width="492"
          height="92"
        />

        <p class="application-count">1000</p>
        <p class="application-lessons-description">
          of our online English language lessons! This journey has been full of
          discovery, growth and unforgettable moments, and we are happy to share
          this joyful event with you.
        </p>
      </div>

      <form class="application-form-container">
        <div class="application-input-container">
          <input
            class="application-form-input"
            type="text"
            name="user-name"
            placeholder="Name"
            pattern="[a-zA-Zа-яА-ЯіІїЇєЄґҐʼ]+"
            title="Oksana"
            required
          />
          <input
            class="application-form-input"
            type="email"
            name="user_email"
            placeholder="Email"
            required
          />
          <input
            class="application-form-input"
            type="tel"
            name="user_phone"
            placeholder="Phone"
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            title="xxx-xxx-xx-xx"
            required
          />
          <textarea
            class="application-form-textarea"
            name="user-comment"
            placeholder="Comment"
          ></textarea>
        </div>

        <div class="application-form-checkbox">
          <p class="application-checkbox-title">Choose a teacher</p>
          <div class="application-checkbox-container">
            <label class="application-checkbox-name">
              <input
                class="application-checkbox"
                type="radio"
                name="teacher"
                value="Maria"
                checked
              />
              <svg class="radio-icon-container" width="10" height="10">
                <use href="../img/sprite.svg#icon-circle"></use>
              </svg>
              Maria
            </label>

            <label class="application-checkbox-name">
              <input
                class="application-checkbox"
                type="radio"
                name="teacher"
                value="Artem"
                checked
              />
              <svg class="radio-icon-container" width="10" height="10">
                <use href="../img/sprite.svg#icon-circle"></use>
              </svg>
              Artem
            </label>
            <label class="application-checkbox-name">
              <input
                class="application-checkbox"
                type="radio"
                name="teacher"
                value="Ilona"
                checked
              />
              <svg class="radio-icon-container" width="10" height="10">
                <use href="../img/sprite.svg#icon-circle"></use>
              </svg>
              Ilona
            </label>
            <label class="application-checkbox-name">
              <input
                class="application-checkbox"
                type="radio"
                name="teacher"
                value="Volodymyr"
                checked
              />
              <svg class="radio-icon-container" width="10" height="10">
                <use href="../img/sprite.svg#icon-circle"></use>
              </svg>
              Volodymyr
            </label>
          </div>
        </div>

        <button class="application-send button" type="submit">Send</button>
        <div class="application-inform">
          <p>
            By clicking on “Send” button, you agree to our&nbsp;<a
              class="application-inform-accent-link"
              href=""
              >Privacy Policy</a
            >, <br />
            and allow Promodo to use this information for marketing purposes.
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
