<!-- MOBILE AND TABLET MENU -->

<div class="backdrop js-menu-container">
  <div class="header-mobile-menu">
    <div class="header-mobile-menu-container container">
      <button class="header-mobile-menu-close-btn js-close-menu" type="button">
        <svg
          class="header-mobile-menu-close-btn-icon"
          width="32"
          height="32"
          aria-label="mobile menu close icon"
        >
          <use href="./img/sprite.svg#icon-close-button"></use>
        </svg>
      </button>
      <nav class="header-mobile-menu-nav">
        <ul class="header-mobile-menu-nav-list">
          <li class="header-mobile-menu-nav-list-item">
            <a href="#about-us" class="header-mobile-menu-nav-list-link link"
              >About us</a
            >
          </li>
          <li class="header-mobile-menu-nav-list-item">
            <a href="#lessons" class="header-mobile-menu-nav-list-link link"
              >Our lessons</a
            >
          </li>
          <li class="header-mobile-menu-nav-list-item">
            <a href="#teachers" class="header-mobile-menu-nav-list-link link"
              >Teachers</a
            >
          </li>
          <li class="header-mobile-menu-nav-list-item">
            <a href="#reviews" class="header-mobile-menu-nav-list-link link"
              >Reviews</a
            >
          </li>
          <li class="header-mobile-menu-nav-list-item">
            <a href="#contact-us" class="header-mobile-menu-nav-list-link link"
              >Contact us</a
            >
          </li>
        </ul>
      </nav>
      <!-- <div class="heder-mobile-menu-social-media-container"> -->
      <ul class="heder-mobile-menu-social-media-list">
        <li class="heder-mobile-menu-social-media-list-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="header-mobile-menu-social-media-icon-wrapper"
            target="_blank"
            aria-label="facebook icon"
          >
            <svg
              class="header-mobile-menu-social-media-icon"
              width="26"
              height="26"
            >
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="heder-mobile-menu-social-media-list-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="header-mobile-menu-social-media-icon-wrapper"
            target="_blank"
            aria-label="instagram icon"
          >
            <svg
              class="header-mobile-menu-social-media-icon"
              width="26"
              height="26"
            >
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="heder-mobile-menu-social-media-list-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="header-mobile-menu-social-media-icon-wrapper"
            target="_blank"
            aria-label="youtube icon"
          >
            <svg
              class="header-mobile-menu-social-media-icon"
              width="26"
              height="26"
            >
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <!-- </div> -->
    </div>
  </div>
</div>
