<div class="backdrop" data-modal>
  <div class="modal-team-container">
    <button class="modal-team-btn-close" type="button" data-modal-close>
      <svg width="24" height="24" aria-label="icon-button-close">
        <use href="../img/modal-sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="section-title">Our team</h2>
    <p class="modal-team-subtitle">Discover our team</p>
    <ul class="modal-team-list">
      <li class="modal-team-dev">
        <img
          width="150"
          height="150"
          alt="developer"
          class="modal-team-dev-img"
          src="../img/teacher-artem@1x.jpg"
        />
        <p class="modal-team-name-dev">Name Student</p>
        <p class="modal-team-position">Position student</p>
        <a class="modal-team-link-social" href="https://www.linkedin.com/">
          <div class="modal-team-container-social">
            <svg class="modal-team-icon-social" width="16" height="16">
              <use href="../img/modal-sprite.svg#icon-linkedin"></use>
            </svg>
          </div>
          <p class="modal-team-text-social">aleksandr-sem</p>
        </a>
      </li>
      <li class="modal-team-dev">
        <img
          width="150"
          height="150"
          alt="developer"
          class="modal-team-dev-img"
          src="../img/teacher-artem@1x.jpg"
        />
        <p class="modal-team-name-dev">Name Student</p>
        <p class="modal-team-position">Position student</p>
        <a class="modal-team-link-social" href="https://www.linkedin.com/">
          <div class="modal-team-container-social">
            <svg class="modal-team-icon-social" width="16" height="16">
              <use href="../img/modal-sprite.svg#icon-linkedin"></use>
            </svg>
          </div>
          <p class="modal-team-text-social">aleksandr-sem</p>
        </a>
      </li>
      <li class="modal-team-dev">
        <img
          width="150"
          height="150"
          alt="developer"
          class="modal-team-dev-img"
          src="../img/teacher-artem@1x.jpg"
        />
        <p class="modal-team-name-dev">Name Student</p>
        <p class="modal-team-position">Position student</p>
        <a class="modal-team-link-social" href="https://www.linkedin.com/">
          <div class="modal-team-container-social">
            <svg class="modal-team-icon-social" width="16" height="16">
              <use href="../img/modal-sprite.svg#icon-linkedin"></use>
            </svg>
          </div>
          <p class="modal-team-text-social">aleksandr-sem</p>
        </a>
      </li>
      <li class="modal-team-dev">
        <img
          width="150"
          height="150"
          alt="developer"
          class="modal-team-dev-img"
          src="../img/teacher-artem@1x.jpg"
        />
        <p class="modal-team-name-dev">Name Student</p>
        <p class="modal-team-position">Position student</p>
        <a class="modal-team-link-social" href="https://www.linkedin.com/">
          <div class="modal-team-container-social">
            <svg class="modal-team-icon-social" width="16" height="16">
              <use href="../img/modal-sprite.svg#icon-linkedin"></use>
            </svg>
          </div>
          <p class="modal-team-text-social">aleksandr-sem</p>
        </a>
      </li>
      <li class="modal-team-dev">
        <img
          width="150"
          height="150"
          alt="developer"
          class="modal-team-dev-img"
          src="../img/teacher-artem@1x.jpg"
        />
        <p class="modal-team-name-dev">Name Student</p>
        <p class="modal-team-position">Position student</p>
        <a class="modal-team-link-social" href="https://www.linkedin.com/">
          <div class="modal-team-container-social">
            <svg class="modal-team-icon-social" width="16" height="16">
              <use href="../img/modal-sprite.svg#icon-linkedin"></use>
            </svg>
          </div>
          <p class="modal-team-text-social">aleksandr-sem</p>
        </a>
      </li>
      <li class="modal-team-dev">
        <img
          width="150"
          height="150"
          alt="developer"
          class="modal-team-dev-img"
          src="../img/teacher-artem@1x.jpg"
        />
        <p class="modal-team-name-dev">Name Student</p>
        <p class="modal-team-position">Position student</p>
        <a class="modal-team-link-social" href="https://www.linkedin.com/">
          <div class="modal-team-container-social">
            <svg class="modal-team-icon-social" width="16" height="16">
              <use href="../img/modal-sprite.svg#icon-linkedin"></use>
            </svg>
          </div>
          <p class="modal-team-text-social">aleksandr-sem</p>
        </a>
      </li>
      <li class="modal-team-dev">
        <img
          width="150"
          height="150"
          alt="developer"
          class="modal-team-dev-img"
          src="../img/teacher-artem@1x.jpg"
        />
        <p class="modal-team-name-dev">Name Student</p>
        <p class="modal-team-position">Position student</p>
        <a class="modal-team-link-social" href="https://www.linkedin.com/">
          <div class="modal-team-container-social">
            <svg class="modal-team-icon-social" width="16" height="16">
              <use href="../img/modal-sprite.svg#icon-linkedin"></use>
            </svg>
          </div>
          <p class="modal-team-text-social">aleksandr-sem</p>
        </a>
      </li>
      <li class="modal-team-dev">
        <img
          width="150"
          height="150"
          alt="developer"
          class="modal-team-dev-img"
          src="../img/teacher-artem@1x.jpg"
        />
        <p class="modal-team-name-dev">Name Student</p>
        <p class="modal-team-position">Position student</p>
        <a class="modal-team-link-social" href="https://www.linkedin.com/">
          <div class="modal-team-container-social">
            <svg class="modal-team-icon-social" width="16" height="16">
              <use href="../img/modal-sprite.svg#icon-linkedin"></use>
            </svg>
          </div>
          <p class="modal-team-text-social">aleksandr-sem</p>
        </a>
      </li>
    </ul>
  </div>
</div>
