<div class="privacy-backdrop is-hidden" data-modal-privacy>
  <div class="privacy-modal modal-privacy-scroll">
    <button
      class="privacy-modal-btn-close"
      type="button"
      data-modal-privacy-close
    >
      <svg width="24" height="24" aria-label="icon-button-close">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-title">
      english<span class="logo-green">excellence.&ensp;</span>Privacy Policy
    </h2>
    <ul>
      <li class="modal-privacy-list-item">
        <p class="modal-privacy-paragraph">
          Your privacy is important to us. This section outlines how we collect,
          use, process, and protect your personal data. This Privacy Policy
          applies to the use of our website, applications, and services, so
          please take a moment to read it.
        </p>
      </li>
      <li class="modal-privacy-list-item">
        <p class="modal-privacy-paragraph">
          What personal data do we collect:<br />
          We may collect various types of personal data that you voluntarily
          provide when interacting with our website, registering an account,
          placing an order, or filling out forms. This may include your name,
          email address, phone number, address, order information, and more.
        </p>
      </li>
      <li class="modal-privacy-list-item">
        <p class="modal-privacy-paragraph">
          How we use your personal data:<br />
          We use the collected personal data to provide services, manage your
          account, process orders, provide you with information about our
          products and services, and to communicate with you regarding inquiries
          and updates.
        </p>
      </li>
      <li class="modal-privacy-list-item">
        <p class="modal-privacy-paragraph">
          Protection of personal data:<br />
          We take every effort to protect your information and use modern
          technologies to prevent unauthorized access, loss, or disclosure of
          your personal information.
        </p>
      </li>
      <li class="modal-privacy-list-item">
        <p class="modal-privacy-paragraph">
          Disclosure to third parties:<br />
          We do not disclose your personal data to third parties without your
          consent, except when required by law or to provide the services you
          requested.
        </p>
      </li>
      <li class="modal-privacy-list-item">
        <p class="modal-privacy-paragraph">
          Changes to the Privacy Policy:<br />
          We may periodically update this Privacy Policy. Please refer to this
          page to stay informed about any changes.
        </p>
      </li>
      <li class="modal-privacy-list-item">
        <p class="modal-privacy-paragraph">
          Contact us:<br />
          If you have any questions or concerns regarding this Privacy Policy or
          your information, please contact us using the contact details provided
          on our website.
        </p>
      </li>
    </ul>
  </div>
</div>
