<div class="backdrop-modal-team is-hidden" data-modal>
  <div class="modal-team-container">
    <button class="modal-team-btn-close" type="button" data-modal-close>
      <svg width="24" height="24" aria-label="icon-button-close">
        <use href="./img/modal-sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="section-title">Our team</h2>
    <p class="modal-team-subtitle">Discover our team</p>
    <div class="container-scroll">
      <ul class="modal-team-list">
        <li class="modal-team-dev">
          <img
            width="150"
            height="150"
            alt="developer"
            class="modal-team-dev-img"
            src="./img/team-dev/Oksana_Donchuk_team_lead.jpg"
            srcset="./img/team-dev/Oksana_Donchuk_team_lead@2x.jpg 2x"
          />
          <p class="modal-team-name-dev">Oksana Donchuk</p>
          <p class="modal-team-position">Team Lead</p>
          <a
            target="_blank"
            class="modal-team-link-social"
            href="https://www.linkedin.com/in/donchuk-oksana/"
          >
            <div class="modal-team-container-social">
              <svg class="modal-team-icon-social" width="16" height="16">
                <use href="./img/modal-sprite.svg#icon-linkedin"></use>
              </svg>
            </div>
            <p class="modal-team-text-social">join LinkedIn</p>
          </a>
        </li>

        <li class="modal-team-dev">
          <img
            width="150"
            height="150"
            alt="developer"
            class="modal-team-dev-img"
            src="./img/team-dev/Nataliya_Lytvyn_scrum_master.jpg"
            srcset="./img/team-dev/Nataliya_Lytvyn_scrum_master@2x.jpg 2x"
          />
          <p class="modal-team-name-dev">Nataliya Lytvyn</p>
          <p class="modal-team-position">Scrum Master</p>
          <a
            target="_blank"
            class="modal-team-link-social"
            href="https://www.linkedin.com/in/nataliya-lytvyn-b46749283"
          >
            <div class="modal-team-container-social">
              <svg class="modal-team-icon-social" width="16" height="16">
                <use href="./img/modal-sprite.svg#icon-linkedin"></use>
              </svg>
            </div>
            <p class="modal-team-text-social">join LinkedIn</p>
          </a>
        </li>
      </ul>
      <ul class="modal-team-list">
        <li class="modal-team-dev">
          <img
            width="150"
            height="150"
            alt="developer"
            class="modal-team-dev-img"
            src="./img/team-dev/Nataliia_Valko_dev.jpg"
            srcset="./img/team-dev/Nataliia_Valko_dev@2x.jpg 2x"
          />
          <p class="modal-team-name-dev">Nataliia Valko</p>
          <p class="modal-team-position">Developer</p>
          <a
            target="_blank"
            class="modal-team-link-social"
            href="https://www.linkedin.com/in/nataliia-valko-951501212/"
          >
            <div class="modal-team-container-social">
              <svg class="modal-team-icon-social" width="16" height="16">
                <use href="./img/modal-sprite.svg#icon-linkedin"></use>
              </svg>
            </div>
            <p class="modal-team-text-social">join LinkedIn</p>
          </a>
        </li>

        <li class="modal-team-dev">
          <img
            width="150"
            height="150"
            alt="developer"
            class="modal-team-dev-img"
            src="./img/team-dev/Andrii_Kovalchuk_dev.jpg"
            srcset="./img/team-dev/Andrii_Kovalchuk_dev@2x.jpg 2x"
          />
          <p class="modal-team-name-dev">Andrii Kovalchuk</p>
          <p class="modal-team-position">Developer</p>
          <a
            target="_blank"
            class="modal-team-link-social"
            href="https://www.linkedin.com/in/andrii-kovalchuk-frontend/"
          >
            <div class="modal-team-container-social">
              <svg class="modal-team-icon-social" width="16" height="16">
                <use href="./img/modal-sprite.svg#icon-linkedin"></use>
              </svg>
            </div>
            <p class="modal-team-text-social">join LinkedIn</p>
          </a>
        </li>

        <li class="modal-team-dev">
          <img
            class="modal-team-dev-img"
            width="150"
            height="150"
            alt="developer"
            src="./img/team-dev/Olha_shapoval_dev.jpg"
            srcset="./img/team-dev/Olha_shapoval_dev@2x.jpg 2x"
          />
          <p class="modal-team-name-dev">Olha Shapoval</p>
          <p class="modal-team-position">Developer</p>
          <a
            target="_blank"
            class="modal-team-link-social"
            href="www.linkedin.com/in/olha-shapoval-dev"
          >
            <div class="modal-team-container-social">
              <svg class="modal-team-icon-social" width="16" height="16">
                <use href="./img/modal-sprite.svg#icon-linkedin"></use>
              </svg>
            </div>
            <p class="modal-team-text-social">join LinkedIn</p>
          </a>
        </li>

        <li class="modal-team-dev">
          <img
            width="150"
            height="150"
            alt="developer"
            class="modal-team-dev-img"
            src="./img/team-dev/Serhii_Osmolovskyi_dev.jpg"
            srcset="./img/team-dev/Serhii_Osmolovskyi_dev@2x.jpg 2x"
          />
          <p class="modal-team-name-dev">Serhii Osmolovskyi</p>
          <p class="modal-team-position">Developer</p>
          <a
            target="_blank"
            class="modal-team-link-social"
            href="http://linkedin.com/in/serhii-osmolovskyi"
          >
            <div class="modal-team-container-social">
              <svg class="modal-team-icon-social" width="16" height="16">
                <use href="./img/modal-sprite.svg#icon-linkedin"></use>
              </svg>
            </div>
            <p class="modal-team-text-social">join LinkedIn</p>
          </a>
        </li>

        <li class="modal-team-dev">
          <img
            width="150"
            height="150"
            alt="developer"
            class="modal-team-dev-img"
            src="./img/team-dev/Oleksii_Kochurov_dev.jpg"
            srcset="./img/team-dev/Oleksii_Kochurov_dev@2x.jpg 2x"
          />
          <p class="modal-team-name-dev">Oleksii Kochurov</p>
          <p class="modal-team-position">Developer</p>
          <a
            target="_blank"
            class="modal-team-link-social"
            href="https://www.linkedin.com/in/oleksii-kochurov-510619254?trk=contact-info"
          >
            <div class="modal-team-container-social">
              <svg class="modal-team-icon-social" width="16" height="16">
                <use href="./img/modal-sprite.svg#icon-linkedin"></use>
              </svg>
            </div>
            <p class="modal-team-text-social">join LinkedIn</p>
          </a>
        </li>

        <li class="modal-team-dev">
          <img
            width="150"
            height="150"
            alt="developer"
            class="modal-team-dev-img"
            src="./img/team-dev/Anna_Tsepilova_dev.jpg"
            srcset="./img/team-dev/Anna_Tsepilova_dev@2x.jpg 2x"
          />
          <p class="modal-team-name-dev">Anna Tsepilova</p>
          <p class="modal-team-position">Developer</p>
          <a
            target="_blank"
            class="modal-team-link-social"
            href="https://www.linkedin.com/"
          >
            <div class="modal-team-container-social">
              <svg class="modal-team-icon-social" width="16" height="16">
                <use href="./img/modal-sprite.svg#icon-linkedin"></use>
              </svg>
            </div>
            <p class="modal-team-text-social">join LinkedIn</p>
          </a>
        </li>

        <li class="modal-team-dev">
          <img
            width="150"
            height="150"
            alt="developer"
            class="modal-team-dev-img"
            src="./img/team-dev/Oleksandr_Burtovyi_dev.jpg"
            srcset="./img/team-dev/Oleksandr_Burtovyi_dev@2x.jpg 2x"
          />
          <p class="modal-team-name-dev">Oleksandr Burtovyi</p>
          <p class="modal-team-position">Developer</p>
          <a
            target="_blank"
            class="modal-team-link-social"
            href="https://www.linkedin.com/in/oleksandr-burtovyi/"
          >
            <div class="modal-team-container-social">
              <svg class="modal-team-icon-social" width="16" height="16">
                <use href="./img/modal-sprite.svg#icon-linkedin"></use>
              </svg>
            </div>
            <p class="modal-team-text-social">join LinkedIn</p>
          </a>
        </li>

        <li class="modal-team-dev">
          <img
            width="150"
            height="150"
            alt="developer"
            class="modal-team-dev-img"
            src="./img/team-dev/Oleksandr_Semeniuta_dev.jpg"
            srcset="./img/team-dev/Oleksandr_Semeniuta_dev@2x.jpg 2x"
          />
          <p class="modal-team-name-dev">Oleksandr Semeniuta</p>
          <p class="modal-team-position">Developer</p>
          <a
            target="_blank"
            class="modal-team-link-social"
            href="https://www.linkedin.com/in/aleksandr-sem/"
          >
            <div class="modal-team-container-social">
              <svg class="modal-team-icon-social" width="16" height="16">
                <use href="./img/modal-sprite.svg#icon-linkedin"></use>
              </svg>
            </div>
            <p class="modal-team-text-social">join LinkedIn</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
