<section class="section">
  <div class="container">
    <div class="proposal-leave-section">
      <h3 class="call-to-action-heading">
        Master the <span class="accent-word">Language</span> with Our English
        Package!
      </h3>

      <div class="three-boxes-thumb">
        <div class="decorative-box-first"></div>

        <div class="decorative-box-second"></div>
        <div class="box-main">
          <h2 class="proposal-title">Power of English</h2>
          <ul class="proposal-list">
            <li class="proposal-item">
              <svg class="check-icon">
                <use href="../img/proposal-section.svg#icon-check"></use>
              </svg>
              <p class="proposal-description">
                Dive into captivating lessons designed to stimulate your
                curiosity.
              </p>
            </li>
            <li class="proposal-item">
              <svg class="check-icon">
                <use href="../img/proposal-section.svg#icon-check"></use>
              </svg>
              <p class="proposal-description">
                Learn in a nurturing setting where every student's progress
                matters.
              </p>
            </li>

            <li class="proposal-item">
              <svg class="check-icon">
                <use href="../img/proposal-section.svg#icon-check"></use>
              </svg>
              <p class="proposal-description">
                Experience the satisfaction of real progress as your language
                skills and confidence grow with every session.
              </p>
            </li>
          </ul>
          <button type="button" class="cta-button">Leave an application</button>
          <div class="thumb-proposal-img"></div>
        </div>
      </div>
    </div>
  </div>
</section>
