<section class="section" id="proposal">
  <h2 class="is-hidden">Proposal to leave an application</h2>
  <div class="container proposal-main-container">
    <div class="proposal-leave-section">
      <strong class="call-to-action-heading">
        Master the <span class="accent-word">Language</span> with Our English
        Package!
      </strong>

      <div class="three-boxes-thumb">
        <div class="decorative-box-first"></div>

        <div class="decorative-box-second"></div>
        <div class="box-main">
          <h3 class="proposal-title">Power of English</h3>
          <ul class="proposal-list">
            <li class="proposal-item">
              <svg class="check-icon" aria-label="first marker">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="proposal-description">
                Dive into captivating lessons designed to stimulate your
                curiosity.
              </p>
            </li>
            <li class="proposal-item">
              <svg class="check-icon" aria-label="second marker">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="proposal-description">
                Learn in a nurturing setting where every student's progress
                matters.
              </p>
            </li>

            <li class="proposal-item">
              <svg class="check-icon" aria-label="the third marker">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
              <p class="proposal-description">
                Experience the satisfaction of real progress as your language
                skills and confidence grow with every session.
              </p>
            </li>
          </ul>
          <a href="#application" class="cta-link-button link"
            >Leave an application</a
          >
          <div class="thumb-proposal-img"></div>
        </div>
      </div>
    </div>
  </div>
</section>
