<section id="reviews" class="reviews-section section">
  <div class="reviews-container container">
    <h2 class="section-title">
      What our <span class="section-title-decor">students</span> say
    </h2>
    <p class="reviews-text">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>
    <div class="swiper reviews-swiper">
      <ul class="reviews-list swiper-wrapper">
        <li class="reviews-item swiper-slide">
          <div class="reviews-box">
            <div class="reviews-avatar-wrapper">
              <img
                srcset="
                  ../img/review-anna@1x.jpg 1x,
                  ../img/review-anna@2x.jpg 2x
                "
                src="../img/review-anna@1x.jpg"
                alt="student avatar"
                width="50"
                height="50"
                loading="lazy"
                class="reviews-avatar"
              />
            </div>
            <div class="reviews-info">
              <h3 class="reviews-name">Anna</h3>
              <p class="reviews-position">Student</p>
            </div>
          </div>
          <p class="reviews-feedback">
            My experience at the language school has been nothing short of
            amazing. The teachers are dedicated and the learning environment is
            stimdivating. I feel more confident in my English skills.
          </p>
        </li>
        <li class="reviews-item swiper-slide">
          <div class="reviews-box">
            <div class="reviews-avatar-wrapper">
              <img
                srcset="
                  ../img/review-mykhailo@1x.jpg 1x,
                  ../img/review-mykhailo@2x.jpg 2x
                "
                src="../img/review-mykhailo@1x.jpg"
                alt="student avatar"
                width="50"
                height="50"
                loading="lazy"
                class="reviews-avatar"
              />
            </div>
            <div class="reviews-info">
              <h3 class="reviews-name">Mykhailo</h3>
              <p class="reviews-position">Student</p>
            </div>
          </div>
          <p class="reviews-feedback">
            The school offers a great balance of language theory and practical
            exercises. The personalized feedback from the teachers has helped me
            improve my weak areas.
          </p>
        </li>
        <li class="reviews-item swiper-slide">
          <div class="reviews-box">
            <div class="reviews-avatar-wrapper">
              <img
                srcset="
                  ../img/review-victoria@1x.jpg 1x,
                  ../img/review-victoria@2x.jpg 2x
                "
                src="../img/review-victoria@1x.jpg"
                alt="student avatar"
                width="50"
                height="50"
                loading="lazy"
                class="reviews-avatar"
              />
            </div>
            <div class="reviews-info">
              <h3 class="reviews-name">Victoria</h3>
              <p class="reviews-position">Student</p>
            </div>
          </div>
          <p class="reviews-feedback">
            I love the dynamic and interactive teaching methods used here. It's
            a great place to learn English in a fun and effective way. I have
            definitely seen a big improvement in my language skills.
          </p>
        </li>
        <li class="reviews-item swiper-slide">
          <div class="reviews-box">
            <div class="reviews-avatar-wrapper">
              <img
                srcset="
                  ../img/review-maksim@1x.jpg 1x,
                  ../img/review-maksim@2x.jpg 2x
                "
                src="../img/review-maksim@1x.jpg"
                alt="student avatar"
                width="50"
                height="50"
                loading="lazy"
                class="reviews-avatar"
              />
            </div>
            <div class="reviews-info">
              <h3 class="reviews-name">Maksim</h3>
              <p class="reviews-position">Student</p>
            </div>
          </div>
          <p class="reviews-feedback">
            My experience at the language school has been nothing short of
            amazing. The teachers are dedicated and the learning environment is
            stimdivating. I feel more confident in my English skills.
          </p>
        </li>
        <li class="reviews-item swiper-slide">
          <div class="reviews-box">
            <div class="reviews-avatar-wrapper">
              <img
                srcset="
                  ../img/review-nataliia@1x.jpg 1x,
                  ../img/review-nataliia@2x.jpg 2x
                "
                src="../img/review-nataliia@1x.jpg"
                alt="student avatar"
                width="50"
                height="50"
                loading="lazy"
                class="reviews-avatar"
              />
            </div>
            <div class="reviews-info">
              <h3 class="reviews-name">Nataliia</h3>
              <p class="reviews-position">Student</p>
            </div>
          </div>
          <p class="reviews-feedback">
            The school offers a great balance of language theory and practical
            exercises. The personalized feedback from the teachers has helped me
            improve my weak areas.
          </p>
        </li>
        <li class="reviews-item swiper-slide">
          <div class="reviews-box">
            <div class="reviews-avatar-wrapper">
              <img
                srcset="
                  ../img/review-olga@1x.jpg 1x,
                  ../img/review-olga@2x.jpg 2x
                "
                src="../img/review-olga@1x.jpg"
                alt="student avatar"
                width="50"
                height="50"
                loading="lazy"
                class="reviews-avatar"
              />
            </div>
            <div class="reviews-info">
              <h3 class="reviews-name">Olga</h3>
              <p class="reviews-position">Student</p>
            </div>
          </div>
          <p class="reviews-feedback">
            I love the dynamic and interactive teaching methods used here. It's
            a great place to learn English in a fun and effective way. I have
            definitely seen a big improvement in my language skills.
          </p>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
