.footer-container{
    background-color: var(--black);
    padding-top: 64px;
    padding-bottom: 23px;
}
.logo-footer{
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.35;
    letter-spacing: 0em;
    text-align: left;
    color: var(--white);
margin-bottom: 32px;
    }

.logo-green{
    font-weight: 600;
    color: var(--green);
}

.footer-contacts{
font-style: normal
}
.footer-contacts-item{
    margin-bottom: 16px;
}


.footer-contacts-title{
font-size: 14px;
font-weight: 400;
line-height: 1.28;
letter-spacing: -0.02em;
text-align: left;
color: #FFFFFF99;
margin-bottom: 4px;
}

.footer-contacts-link{
font-size: 14px;
font-weight: 600;
line-height: 1.28;
letter-spacing: 0em;
text-align: left;
color: var(--white);
}

.footer-links-item:not(:last-child){
    margin-bottom: 20px;
}
.footer-links-link{
    font-size: 14px;
    font-weight: 600;
    line-height: 1.28;
    letter-spacing: 0em;
    text-align: left;
    color: var(--white);
}

.footer-first-level{
    display: flex;
    justify-content: space-between;
}

.footer-social-list{
    display: flex;
    gap: 12px;
}


.footer-social-link{
    display: flex;
width: 44px;
height: 44px;
padding: 8px;
fill: var(--white);
border-radius: 10px;
border: 1px solid #FFFFFF1A;

transition: border var(--transition-dur-func), fill var(--transition-dur-func) ;
}

.footer-social-link:hover,
.footer-social-link:focus{
    border-color:  #4DC2741A;
    fill: var(--green);
}

