.modal-team-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(80deg, #7ce59f 0%, #bee8cc 100%);
  min-width: 200px;
  padding: 16px;
  border-radius: 30px;
  transition: opacity var(--transition-dur-func);
}

.modal-team-btn-close {
  border: none;
  background-color: transparent;

  position: absolute;
  top: 8px;
  right: 8px;
  stroke: var(--black);
  cursor: pointer;
}

.modal-team-subtitle {
  color: rgba(18, 20, 23, 0.5);
  text-align: center;
  font-size: 18px;
  line-height: 1.66;
  margin-bottom: 8px;
}

.modal-team-list {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  gap: 8px;
  height: 350px;
  background-color: white;
  padding: 8px;

  border-radius: 30px;
  /* background-image: linear-gradient(80deg, #bee8cc 0%, #7ce59f 100%); */
  background-color: #c6f8d7;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 1px 0px rgba(46, 47, 66, 0.32),
    0px 1px 6px 0px rgba(46, 47, 66, 0.16);
}

.modal-team-list::-webkit-scrollbar {
  width: 0;
}

.modal-team-dev {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  border: 1px solid var(--green);
  max-height: 280px;
  max-width: 160px;
  min-width: 140px;

  border-radius: 30px;
}

.modal-team-dev-img {
  border-radius: 50%;
  margin-bottom: 16px;
}

.modal-team-name-dev {
  text-align: center;
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
  letter-spacing: -0.4px;
}

.modal-team-position {
  margin-bottom: 8px;
  font-size: 14px;
}

.social-item {
  position: relative;
  width: 40px;
  height: 40px;
}

.social-link {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--brand-color);

  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.modal-team-link-social {
  display: flex;
  align-items: center;
  text-decoration-color: rgba(18, 20, 23, 0.5);
}

.modal-team-container-social {
  position: relative;
  width: 24px;
  height: 24px;
  background-color: var(--green);
  border-radius: 50%;
  margin-right: 4px;
}

.modal-team-icon-social {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--white);
}

.modal-team-text-social {
  color: rgba(18, 20, 23, 0.5);
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (min-width: 428px) {
  .modal-team-container {
    width: 300px;
  }

  .modal-team-subtitle {
    margin-bottom: 16px;
  }

  .modal-team-list {
    align-items: center;
  }

  .modal-team-container {
    padding: 32px;
  }

  .modal-team-btn-close {
    top: 16px;
    right: 16px;
  }

  .modal-team-list {
    padding: 16px;
  }

  .modal-team-dev {
    min-width: 180px;
    padding: 16px 8px;
  }
}

@media screen and (min-width: 768px) {
  .modal-team-container {
    width: 500px;
  }

  .modal-team-subtitle {
    margin-bottom: 24px;
  }

  .modal-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  .modal-team-dev {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1130px) {
  .modal-team-container {
    width: 750px;
  }
  .modal-team-dev {
    flex-basis: calc((100% - 8px * 2) / 3);
  }
}

@media screen and (min-width: 1280px) {
  .modal-team-container {
    min-width: 900px;
  }

  .modal-team-dev {
    flex-basis: calc((100% - 8px * 3) / 4);
  }
}
