.backdrop-modal-team {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 20, 23, 0.4);
  transition: opacity var(--transition-dur-func),
    visibility var(--transition-dur-func);
}

.modal-team-container {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-image: linear-gradient(80deg, #7ce59f 0%, #bee8cc 100%);
  min-width: 200px;
  padding: 16px;
  border-radius: 30px;
  transition: opacity var(--transition-dur-func);
}

.modal-team-title {
  color: var(--black);
}

.modal-team-btn-close {
  border: none;
  background-color: transparent;

  position: absolute;
  top: 8px;
  right: 8px;
  stroke: var(--black);
  cursor: pointer;

  transition: stroke var(--transition-dur-func);
}

.modal-team-btn-close:hover,
.modal-team-btn-close:focus {
  stroke: var(--green);
}

.modal-team-subtitle {
  color: rgba(18, 20, 23, 0.5);
  text-align: center;
  font-size: 18px;
  line-height: 1.66;
  margin-bottom: 8px;
}

.container-scroll {
  overflow-y: scroll;
  background-color: var(--gray-switchable);
  border-radius: 30px;

  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 1px 0px rgba(46, 47, 66, 0.32),
    0px 1px 6px 0px rgba(46, 47, 66, 0.16);
  height: 500px;
}

.container-scroll::-webkit-scrollbar {
  width: 0;
}

.modal-team-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
}

.modal-team-dev {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  border: 1px solid var(--green);
  max-height: 280px;
  max-width: 160px;
  min-width: 140px;

  border-radius: 30px;
}

.modal-team-dev-img {
  border-radius: 50%;
  margin-bottom: 16px;
}

.modal-team-name-dev {
  text-align: center;
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
  letter-spacing: -0.4px;
}

.modal-team-position {
  margin-bottom: 8px;
  font-size: 14px;
}

.modal-team-link-social {
  display: flex;
  align-items: center;
  text-decoration-color: var(--dark-transparent-switchable);
  transition: text-decoration-color var(--transition-dur-func);
}

.modal-team-link-social:active,
.modal-team-link-social:hover {
  text-decoration-color: var(--green);
}

.modal-team-container-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;

  border-radius: 10px;
  border: 1px solid rgba(18, 20, 23, 0.1);
  padding: 8px;
  fill: var(--black-switchable);
  cursor: pointer;
  transition: border var(--transition-dur-func),
    color var(--transition-dur-func);
}

.modal-team-link-social:active .modal-team-container-social,
.modal-team-link-social:hover .modal-team-container-social {
  fill: var(--green);
  border-color: rgba(77, 194, 116, 0.1);
}

.modal-team-text-social {
  color: var(--dark-transparent-switchable);
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  transition: color var(--transition-dur-func);
}

.modal-team-link-social:active .modal-team-text-social,
.modal-team-link-social:hover .modal-team-text-social {
  color: var(--green);
}

@media screen and (min-width: 428px) {
  .modal-team-container {
    width: 300px;
  }

  .modal-team-subtitle {
    margin-bottom: 16px;
  }

  .modal-team-list {
    align-items: center;
  }

  .modal-team-container {
    padding: 32px;
  }

  .modal-team-btn-close {
    top: 16px;
    right: 16px;
  }

  .modal-team-list {
    padding: 16px;
  }

  .modal-team-dev {
    min-width: 180px;
    padding: 16px 8px;
  }
}

@media screen and (min-width: 768px) {
  .modal-team-container {
    width: 500px;
  }

  .modal-team-subtitle {
    margin-bottom: 24px;
  }

  .modal-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  .modal-team-dev {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1130px) {
  .modal-team-container {
    width: 750px;
  }

  .modal-team-dev {
    flex-basis: calc((100% - 8px * 2) / 3);
  }
}

@media screen and (min-width: 1280px) {
  .modal-team-container {
    min-width: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-team-dev {
    flex-basis: calc((100% - 8px * 3) / 4);
  }
}
