.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.teachers-card img {
  border-radius: 50%;
  margin-bottom: 16px;
}
.card-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.card-title {
  color: var(--black);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
.card-description {
  color: rgba(18, 20, 23, 0.5);
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
}
.teachers-swiper .swiper-pagination {
  position: static;
}
.teachers-swiper .swiper-pagination-bullet {
  background-color: var(--black);
}
.teachers-swiper .swiper-pagination-bullet-active {
  background-color: var(--green);
}
@media screen and (min-width: 768px) {
  .teachers-swiper .swiper-wrapper {
    gap: 32px;
  }
  .teachers-card {
    flex-basis: calc((100% - 32px) / 2);
  }
  .card-description {
    width: 272px;
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1280px) {
  .teachers-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
  }
  .teachers-card {
    flex-basis: calc((100% - 96px) / 4);
  }
  .card-description {
    width: 232px;
  }
}
