.proposal-leave-section {
  min-width: 100%;
  height: auto;

  padding: 40px 20px 64px 20px;

  overflow: hidden;
  border-radius: 30px;
  background: linear-gradient(80deg, #4dc274 0%, #bee8cc 100%);
}

.call-to-action-heading {
  margin-bottom: 65px;
  color: #fff;
  font-size: 38px;
  font-weight: 700;
  line-height: 40px;
}

.accent-word {
  font-size: 38px;
  font-weight: 700;
  line-height: 40px;
  color: #bee8cc;
}

.cta-button {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 255px;
  padding: 14px 0;

  font-family: Manrope;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  border-radius: 12px;

  color: #fff;
  background: #4dc274;
}

.three-boxes-thumb {
  position: relative;
  /* z-index: 999; */
}

.decorative-box-first {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  min-width: 100%;
  height: 408px;

  transform: rotate(11deg);
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.5);
}

.decorative-box-second {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  min-width: 100%;
  height: 408px;

  transform: rotate(-8deg);
  border-radius: 16px;
  background: #d4fde1;
}

.box-main {
  position: relative;
  z-index: 3;

  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 100%;

  height: 408px;
  padding: 40px 20px;

  border-radius: 16px;
  background-color: #fff;
}

.proposal-title {
  align-self: flex-start;

  margin-bottom: 20px;

  color: #121417;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.4px;
}

.proposal-list {
  margin-bottom: 20px;
}

.proposal-item {
  display: flex;
  gap: 8px;
  align-items: center;
}

.proposal-item:not(:last-of-type) {
  margin-bottom: 16px;
}

.check-icon {
  width: 20px;
  height: 20px;
}

.proposal-description {
  color: #121417;
  width: 227px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.28px;
}

/* .thumb-proposal-img {
  width: 214px;
  height: 263px;
  background: url('../img/books.png');
  background-repeat: no-repeat;
} */
