.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-title {
  color: var(--black);
  text-align: center;
  font-size: 32px;
  line-height: 1.12;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}

.section-title-decor {
  position: relative;
}

.section-title-decor::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  transform: translateY(-50%);
  display: block;
  width: 100%;
  height: 12px;
  border-radius: 8px;
  background: var(--medium-green);
}

.section-description {
  margin-bottom: 40px;
  color: rgba(18, 20, 23, 0.5);
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .section-title {
    font-size: 40px;
    line-height: 1.2;
  }

  .section-title-decor::after {
    height: 20px;
  }
  .section-description {
    margin-bottom: 64px;
    font-size: 18px;
    line-height: 1.67;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .section-description {
    max-width: 709px;
    margin-left: auto;
    margin-right: auto;
  }
}
